header {
    margin: 32px auto;
    max-width: 1136px;
    width: 100%;
  }
  
  header .cabecera {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 32px 0;
    padding: 32px 0;
    width: 100%;
  }
  
  .logo {
    align-items: center;
    display: flex;
    margin-right: 0;
  }
  
  .logo-estrellas {
    margin: 0px 8px;
    position: relative;
    width: 24px;
  }
  
  .cabecera .estrella-grande-logo {
    color: #464646;
    width: 16px;
  }
  
  .cabecera .estrella-chica-superior-logo {
    color: #464646;
    margin-top: 0;
    margin-left: 4px;
    position: absolute;
  }
  
  .cabecera .estrella-chica-inferior-logo {
    color: #464646;
    margin-top: 8px;
    margin-left: 4px;
    position: absolute;
  }
  
  h1 {
    align-self: baseline;
    font-size: 16px;
    font-weight: bold;
    line-height: 19px;
    margin: 0px 8px;
  }
  
  nav li {
    display: inline;
    margin-left: 0;
    padding: 0;
  }
  
  nav a {
    color: #464646;
    margin: 0 16px;  
    text-transform: uppercase;
    text-decoration: none;
  }

  nav a:hover{
    background-color: black;
    color: white;
    padding: 1rem;
    border-radius: 20px;
  }


@media (max-width: 768px) {
  header {
    margin: 0;
  
  }

  header .cabecera {
    display: flex;
    flex-direction: column;
    margin: 16px 0 0 0;
    padding: 8px 0;
    width: 100%;
  }

  .cabecera ul {
    margin: 0px 10px;
  }

  .logo-estrellas {
    margin: 0px 8px;
  }

  .logo h1 {
    margin: 0px 8px;
  }

  .sobreMiLink {
    display: none;
  }

  .skillsLink {
    display: none;
  }

  .hobbiesLink {
    display: none;
  }

  .formacionLink {
    display: none;
  }

  .proyectosLink {
    display: none;
  }

}