.intro {
    display: flex;
    align-items: center;
    margin: 32px auto;
    padding: 0;
    max-width: 100%;
    width: 100%;
  }
  
  .intro .intro-left {
    padding-right: 17px;
    width: calc(100% - 368px);
  }
  
  .intro .intro-left h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 52px;
    line-height: 61px;
    margin: 24px 0;  
    padding-left: 16px;
  }
  
  .intro .intro-left p {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    margin: 24px 0;
    padding-left: 16px;
  }
  
  .intro .intro-left ul {
    margin: 24px 0px;
    padding-left: 16px;
    display: flex;
    justify-content: space-between;
  }
  
  .intro .intro-left li {
    display: inline;
    padding: 0;
  }
  
  .intro .intro-left a {
    color: #0b4ec7;
    cursor: pointer;
    padding: 10px auto;
    text-decoration: none;
  }

  .intro .intro-left .redes a:hover{
    background-color: black;
    color: white;
    padding: 1rem;
    border-radius: 20px;
  }
  
  .intro .intro-left li ::before {
    color: #464646;
    content: "✔";
  }

  .intro .intro-left h4{
    font-weight: bold;
    font-size: 20px;
  }
  
  .intro .intro-right {
    max-width: 368px;
    width: 100%;
  }
  
  .intro .intro-right img {
    border-radius: 50%;
    margin: 0;
    max-width: 368px;
    max-height: 368px;
    width: 100%;
    height: 100%;
  }
  
 /* Sector responsive tablet */

 @media (max-width: 768px){
  .intro {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    padding: 0;
  }

  .intro .intro-left {
    margin: auto;
    padding: 0px;
    width: 100%;
  }

  .intro .intro-left h2 {
    font-size: 22px;
    line-height: 26px;
    margin: 8px 0px;    
    text-align: center;
    padding-left: 0px;
    width: 100%;
  }

  .intro .intro-left p {
    font-size: 16px;
    margin: 16px 0px;
    line-height: 19px;
    padding: 16px;
    text-align: justify;

  }

  .intro .intro-left ul {
    align-items: flex-start;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 0;
  }

  .intro .intro-left .contacto{
    text-align: center;
  }

  .intro .intro-right {
    align-items: center;
    display: flex;
    justify-content: center;
    max-width: 150px;
  }

  .intro .intro-right img {
    border-radius: 0;   
  }

 }