.proyectos{
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}
.experiencia-profesional {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 32px auto;
    padding: 82px 0;
    max-width: 100%;
    width: 100%;
  }
  
  .experiencia-profesional h2 {
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    margin: 32px 0px;
  }
  
  .experiencia {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 32px 0;
    width: 100%;
  }
  
  .experiencia-encriptador {
    background: url(../images/encriptador.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; 
    height: 269px;
    margin: 0;
    padding: 0;
    max-width: 500px;
    width: 100%;
  }
  
  .experiencia-ahorcado {  
    background: url(../images/ahorcado.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 322px;
    margin: 0;
    padding: 0;
    max-width: 500px;
    width: 70%;
  }

  .experiencia-ecommerce {
    background: url(../images/CAP-PELICULAS.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; 
    height: 269px;
    margin: 0;
    padding: 0;
    max-width: 500px;
    width: 100%;
  }
  .experiencia-blog {
    background: url(../images/accionLarroque.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; 
    height: 269px;
    margin: 0;
    padding: 0;
    max-width: 500px;
    width: 100%;
  }

  .experiencia-info {
    align-self: center;
    display: flex;
    flex-direction: column;
    margin: 0;
    max-width: 384px;
    width: 30%;
  }
  
  .nombre-proyecto {
    font-size: 22px;
    font-weight: bold;
    line-height: 26px;
    margin: 8px 16px;
  }
  
  .descripcion-proyecto {
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    margin: 8px 16px;
  }
  
  .repositorio {
    box-sizing: border-box;
    border: 1px solid #2a7ae4;
    color: #2a7ae4;
    cursor: pointer;
    margin: 0 16px;
    padding: 16px;  
    border-radius: 5px;
  }
  
  .repositorio a {
    color: #2a7ae4;
    text-decoration: none;
  }
  
  .demo {
    background: #2a7ae4;
    border: none;
    color: #f5f5f5;
    cursor: pointer;
    margin: 5px 16px;
    padding: 16px;
    border-radius: 5px;
  }
  
  .demo a {
    color: #f5f5f5;
    text-decoration: none;
  }


 @media (max-width: 768px){
  #proyectos .proyectos{
    padding: 0px;
    max-width: 100%;
    width: 100%;
  }
  .experiencia-profesional {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    padding: 0px;
  }
  .experiencia-profesional h2 {
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    margin: 16px 0px;
  }

  .experiencia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 32px auto;
    padding: 0;
    width: 100%;
  }

  .experiencia-encriptador {
    background: url(../images/encriptador-tablet.png);
    background-repeat: no-repeat;
    background-position: center center;
    height: 320px;    
    max-width: 704px;
    width: 100%;    
  }

  .experiencia-ahorcado {
    background: url(../images/ahorcado-tablet.png);
    background-repeat: no-repeat;
    background-position: center center;
    height: 320px;    
    max-width: 704px;
    width: 100%;
  }

  .experiencia-info {
    display: flex;
    flex-direction: column;
    margin: 16px 0;
    width: 100%;
  }
  .nombre-proyecto {
    font-size: 22px;
    font-weight: bold;
    line-height: 26px;
    margin: 8px 16px;
  }

  .descripcion-proyecto {
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    margin: 8px 16px;
  }

  .repositorio {
    color: #2a7ae4;
    cursor: pointer;
    border: 1px solid #2a7ae4;
    box-sizing: border-box;
    margin: 0 16px;
    padding: 16px;
  }

  .repositorio a {
    color: #2a7ae4;
    text-decoration: none;
  }

  .demo {
    background: #2a7ae4;
    border: none;
    color: #f5f5f5;
    cursor: pointer;
    margin: 0 16px;
    padding: 16px;    
  }

  .demo a {
    text-decoration: none;
  }

}
