.container-skills-hobbies {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 32px 0;
    padding: 0;  
    width: 100%;
  }
  
  .container-skills {
    margin: 32px 0px;
    padding: 0px;
    width: 1136px;
  }
  
  .container-skills-hobbies h2 {
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    margin: 32px 0px;
    text-align: center;
  }
  
  .container-skills ul {
    display: flex;
    justify-content: space-around;
    margin: 32px auto;
    width: 100%;
  }
  .container-skills li {
    display: inline-block;
    margin: auto 8px;
    padding: 8px;
  }
  
  .container-skills img {
    width: 144px;
  }
  
  .container-hobbies {
    margin: 32px 0px;
    padding: 0px;
    width: 1136px;
  }
  
  .container-hobbies ul {
    display: flex;
    justify-content: space-around;
  }
  
  .container-images {
    color: #464646;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    height: 174px;
    justify-content: flex-end;
    margin: 0px 16px;
    width: 144px;
  }
  
  .container-images p {
    color: #464646;
    font-size: 16px;
    font-weight: bold;
    height: 19px;
    width: 144px;
  }
  
  .imagen-hobbies {
    height: 30.67px;
    width: 22.67px;
  }
  
   /* Sector responsive tablet */

 @media (max-width: 768px){
  .container-skills-hobbies {
    align-items: center;   
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 32px 16px;
    width: 704px;
  }

  .container-skills {
    margin: 32px 0px;
    padding: 0px;
    width: 100%;
  }

  .container-skills-hobbies h2 {
    font-size: 22px;
    line-height: 26px;
    margin: 32px 0px;
  }

  .container-skills ul {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px;
    padding: 16px;
    width: 100%;
  }
  .container-skills img {
    width: 192px;
  }

  .container-hobbies {
    margin: 32px 0px;
    padding: 0px;
    width: 100%;
  }

  .container-hobbies ul {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px;
    padding: 16px;
    width: 100%;
  }

  .container-images {
    background: #ffffff;
    color: #464646;
    display: flex;
    flex-direction: column;
    height: 174px;
    justify-content: flex-end;
    margin: 16px 16px;
    width: 176px;
  }

  .container-images p {
    color: #464646;
    font-size: 16px;
    font-weight: bold;
    height: 19px;
    width: 144px;
  }

  .imagen-hobbies {
    height: 30.67px;
    width: 22.67px;
  }
 }

 /* Sector responsive mobile */

@media screen and (max-width: 360px){
  .container-skills-hobbies {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
    padding: 16px;
    width: 328px;
  }

  .container-skills {
    margin: 0px auto;
    width: 100%;
  }

  .container-skills-hobbies h2 {
    font-size: 22px;
    line-height: 26px;
    margin: 32px 0px;
    padding: 0;
  }

  .container-skills ul {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
  }

  .container-skills li {
    display: flex;
    justify-content: center;
    margin: 0px 0px;
    padding: 16px;
    width: 30%;
  }

  .container-skills-hobbies .container-skills img {
    margin: 0;
    padding: 0;
    width: 124px;
  }

  .container-hobbies {
    margin: 0px auto;
    width: 100%;
  }

  .container-hobbies ul {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
  }

  .container-images {
    color: #464646;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    height: 174px;
    justify-content: flex-end;
    margin: 16px;
    width: 124px;
  }

  .container-images p {
    color: #464646;
    font-size: 16px;
    font-weight: bold;
    height: 19px;
    width: 124px;
  }

  .imagen-hobbies {
    height: 30.67px;
    width: 22.67px;
  }
}