body {
  background: #555555;
  font-family: "Ubuntu", sans-serif;
}

.contenedor {
  width: 1166px;
  padding: 0 15px;
  margin: 0 auto;
  padding-top: 75px;
  border: 1px solid green;
}

header {
  width: 1166px;
  background: #555555;
  color: #f5f5f5;
  top: 0;
  position: fixed;
  border: 1px solid red;
}

header .cabecera {
  width: 100%;
  padding: 32px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 22px;
  margin-right: 50px;
  padding: 10px;
}

nav li {
  display: inline;
  margin: 0 0 0 15px;
}

nav a {
  text-transform: uppercase;
  text-decoration: none;
  color: #f5f5f5;
  padding: 10px;
}

nav a:hover {
  color: #000000;
  font-size: 18px;
  background: #f5f5f5;
  border-radius: 5px;
  cursor: pointer;
}

main {
  width: 100%;
}

.intro {
  border: 1px solid yellow;
  width: 100%;
  margin: 32px 0;
  display: flex;
  background: url(images/banner.jpg);
}

.intro .intro-left {
  width: calc(100% - 368px);
  padding-right: 17px;
}

.intro .intro-left h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 52px;
  line-height: 61px;
  color: #f5f5f5;
  padding: 61px 0 24px 10px;
}

.intro .intro-left p {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #f5f5f5;
  padding: 10px;
}

.intro .intro-left li {
  display: inline;
  margin: 0 0 0 15px;
}

.intro .intro-left a {
  text-decoration: none;
  color: #f5f5f5;
  padding: 10px auto;
}

.intro .intro-left li ::before {
  content: "✔";
}

.intro .intro-right {
  max-width: 368px;
  width: 100%;
}

.intro .intro-right img {
  max-width: 368px;
  width: 100%;
  height: 100%;
  max-height: 368px;
  border-radius: 50%;
}

.sobre-mi {
  border: 1px solid white;
  width: 751px;
  margin: 32px auto;
  background: url();
}

.sobre-mi h2 {
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  color: #f5f5f5;
}

.sobre-mi p {
  font-size: 16px;
  line-height: 19px;
  color: #f5f5f5;
  margin: 16px 0px;
  text-align: justify;
}

.container-skills-hobbies {
  border: 1px solid aqua;
  width: 1440;
  padding: 0;
}

.container-skills {
  border: 1px solid purple;
  width: 1166px;
  margin: 88px 0px;
  padding: 0px;
}

.container-skills h2 {
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: #f5f5f5;
  margin: 32px 0px;
}

.container-skills ul {
  width: 1166px;
  margin: 32px auto;
}
.container-skills li {
  display: inline-block;
  padding: 8px;
  margin: auto 8px;
}
.container-skills img {
  width: 144px;
}

.container-hobbies {
  border: 1px solid pink;
  width: 1166px;
  margin: 88px 0px;
  padding: 0px;
}

.container-hobbies h2 {
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: #f5f5f5;
  margin: 32px 0px;
}

.container-hobbies ul {
  width: 1166px;
  margin: 32px 0px;
  padding: 0;
}
.container-hobbies li {
  display: inline-block;
  padding: 8px;
  margin: 0 8px;
}
.container-hobbies img {
  width: 144px;
}

footer {
  width: 100%;
  border: 1px solid red;
}
