body {
  background: #f5f5f5;
  font-family: "Ubuntu", sans-serif;
}

.contenedor {
  width: 1166px;
  padding: 0 15px;
  margin: 0 auto;
}

header {
  width: 100%;
  border: 1px solid gray;
}

header .cabecera {
  width: 100%;
  padding: 32px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 22px;
  margin-right: 50px;
  padding: 10px;
}

nav {
}

nav li {
  display: inline;
  margin: 0 0 0 15px;
}

nav a {
  text-transform: uppercase;
  text-decoration: none;
  color: #555555;
  padding: 10px;
}

nav a:hover {
  color: #000000;
  font-size: 18px;
  background: #555555;
  border-radius: 5px;
}

main {
  width: 100%;
  border: 1px solid black;
}

.intro {
  width: 100%;
  border: 1px solid red;
  margin: 32px 0;
  display: flex;
  background:url(images/banner.jpg);
}

.intro .intro-left {
  width: calc(100% - 368px);
  padding-right: 17px;
}

.intro .intro-left h2 {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 52px;
  line-height: 61px;  
  color:#f5f5f5;
  padding: 61px 0 24px 10px;
}

.intro .intro-left p{
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;  
  color:#f5f5f5;
  padding: 10px;
}

.intro .intro-left li{
  display: inline;
  margin: 0 0 0 15px;
}

.intro .intro-left a {
    text-decoration: none;
    color:#f5f5f5;
    padding: 10px;    
}

.intro .intro-left li ::before{
  content: "✔";   
}

.intro .intro-right {
  max-width: 368px;
  width: 100%;
}

.intro .intro-right img {
  max-width: 368px;
  width: 100%;
  height: 100%;
  max-height:  368px;
  border-radius: 50%;
}

.sobre-mi{
  width: 751px;
  margin: 32px auto;
  background: url();
}

.sobre-mi h2{
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  color: #464646;
}

.sobre-mi p{
  font-size: 16px;
  line-height: 19px;
  color: #464646;
  margin: 16px 0px;
}

.skills-hobbies{
  width: 1440;
  border: 1px solid #000000;
}

.skills h2{
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: #464646;
  margin: 32px 0px;
}

.hobbies h2{
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: #464646;
  margin: 32px 0px;
}



footer {
  width: 100%;
  border: 1px solid red;
}